# Deliverable 2. Create a Customer Travel Destinations Map

----

1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Geoapify API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame. Retrieve the latitude and longitude of each city and use the Geoapify API to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, set the hotel name as "No hotel found".

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Use GeoViews to create a map that displays a point for every city in the `clean_hotel_df` DataFrame. In the point for each city add:

    * The city name
    
    * The country code
    
    * The weather description
    
    * The point's size should be the maximum temperature for the city

15. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.

---

## Ensure that the dependencies and the Geoapify API key is imported correctly

In [44]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd

In [45]:
# Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

In [48]:
# Import the required libraries
import requests
# Import API key
from config3 import geoapify_key

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`

In [29]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"
#../Weather_Database/
# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Jamestown,US,42.0970,-79.2353,38.84,72,40,8.05,scattered clouds
1,1,Cayenne,GF,4.9333,-52.3333,75.24,88,0,0.00,clear sky
2,2,Bakchar,RU,57.0186,82.0711,32.86,91,100,11.27,overcast clouds
3,3,Airai,TL,-8.9266,125.4092,71.74,73,82,1.50,broken clouds
4,4,Killarney,IE,52.0500,-9.5167,45.28,90,86,11.99,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation

In [31]:
# Prompt the user to enter minimum and maximum temperature criteria.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`

In [32]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
1,1,Cayenne,GF,4.9333,-52.3333,75.24,88,0,0.00,clear sky
5,5,Makakilo City,US,21.3469,-158.0858,77.32,81,0,5.75,clear sky
8,8,Hilo,US,19.7297,-155.0900,76.28,91,40,5.75,scattered clouds
15,15,Vaini,TO,-21.2000,-175.2000,79.83,80,95,17.05,overcast clouds
17,17,Hambantota,LK,6.1241,81.1185,86.34,79,75,3.44,broken clouds
18,18,Sur,OM,22.5667,59.5289,75.24,61,0,6.06,clear sky
20,20,Kapaa,US,22.0752,-159.3190,75.52,86,40,6.91,light rain
24,24,Kourou,GF,5.1552,-52.6478,75.25,84,100,6.80,overcast clouds
25,25,Atuona,PF,-9.8000,-139.0333,80.82,72,1,13.18,clear sky
26,26,Saint-Philippe,RE,-21.3585,55.7679,81.99,77,100,4.50,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows

In [33]:
# Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_travel_cities = pd.DataFrame(preferred_cities_df).dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
1,1,Cayenne,GF,4.9333,-52.3333,75.24,88,0,0.00,clear sky
5,5,Makakilo City,US,21.3469,-158.0858,77.32,81,0,5.75,clear sky
8,8,Hilo,US,19.7297,-155.0900,76.28,91,40,5.75,scattered clouds
15,15,Vaini,TO,-21.2000,-175.2000,79.83,80,95,17.05,overcast clouds
17,17,Hambantota,LK,6.1241,81.1185,86.34,79,75,3.44,broken clouds
18,18,Sur,OM,22.5667,59.5289,75.24,61,0,6.06,clear sky
20,20,Kapaa,US,22.0752,-159.3190,75.52,86,40,6.91,light rain
24,24,Kourou,GF,5.1552,-52.6478,75.25,84,100,6.80,overcast clouds
25,25,Atuona,PF,-9.8000,-139.0333,80.82,72,1,13.18,clear sky
26,26,Saint-Philippe,RE,-21.3585,55.7679,81.99,77,100,4.50,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng"

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp   Current Weather      Lat       Lng
1          Cayenne      GF     75.24         clear sky   4.9333  -52.3333
5    Makakilo City      US     77.32         clear sky  21.3469 -158.0858
8             Hilo      US     76.28  scattered clouds  19.7297 -155.0900
15           Vaini      TO     79.83   overcast clouds -21.2000 -175.2000
17      Hambantota      LK     86.34     broken clouds   6.1241   81.1185
18             Sur      OM     75.24         clear sky  22.5667   59.5289
20           Kapaa      US     75.52        light rain  22.0752 -159.3190
24          Kourou      GF     75.25   overcast clouds   5.1552  -52.6478
25          Atuona      PF     80.82         clear sky  -9.8000 -139.0333
26  Saint-Philippe      RE     81.99   overcast clouds -21.3585   55.7679

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame

In [35]:
# Create a new column "Hotel Name".
hotel_df["Hotel Name"] = ""
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
1,Cayenne,GF,75.24,clear sky,4.9333,-52.3333,
5,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,
8,Hilo,US,76.28,scattered clouds,19.7297,-155.0900,
15,Vaini,TO,79.83,overcast clouds,-21.2000,-175.2000,
17,Hambantota,LK,86.34,broken clouds,6.1241,81.1185,
18,Sur,OM,75.24,clear sky,22.5667,59.5289,
20,Kapaa,US,75.52,light rain,22.0752,-159.3190,
24,Kourou,GF,75.25,overcast clouds,5.1552,-52.6478,
25,Atuona,PF,80.82,clear sky,-9.8000,-139.0333,
26,Saint-Philippe,RE,81.99,overcast clouds,-21.3585,55.7679,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city

In [40]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

NameError: name 'g_key' is not defined

## Use a for loop to iterate through the `hotel_df` DataFrame. Retrieve the latitude and longitude of each city and use the Geoapify API to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, set the hotel name as "No hotel found"

In [ ]:
# Iterate through the hotel DataFrame

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # Get latitude and longitude from DataFrame.
    latitude = # YOUR CODE HERE
    longitude = # YOUR CODE HERE
    
    # Add the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{longitude},{latitude},{radius}"
    params["bias"] = f"proximity:{longitude},{latitude}"
    
    # Set up the base URL for the Geoapify Places API.
    base_url = "https://api.geoapify.com/v2/places"

    # Make request and retrieve the JSON data by using the params dictionaty
    name_address = # YOUR CODE HERE
    
    # Convert the API response to JSON format
    name_address = # YOUR CODE HERE
    
    # Get the first hotel from the results and store the name, if a hotel isn't found set the hotel name as "No hotel found".
    try:
        hotel_df.loc[index, "Hotel Name"] = # YOUR CODE HERE
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

In [41]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

NameError: name 'params' is not defined

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`

In [ ]:
# Drop the rows where there is no Hotel Name.
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the `Vacation_Search`` folder

In [ ]:
# Create the output File (CSV)
# YOUR CODE HERE

# Export the City_Data into a csv
# YOUR CODE HERE

## Use GeoViews to create a map that displays a point for every city in the `clean_hotel_df` DataFrame.

In the point for each city add:

* The city name
* The country code
* The weather description
* The point's size should be the maximum temperature for the city

In [ ]:
# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE